<div class="main main--fullwidth home">
  <app-hero-section
    [imgSrc]="hero.imgSrc"
    [imgSources]="hero.imgSources"
    [imgDescription]="hero.imgDescription"
  >
    <ng-template #headlineTemplate>
      <div class="accent-2" fxLayoutGap="8px" fxLayoutGap.gt-xs="16px">
        <mat-icon
          [@jackInTheBox]="{ value: '*', params: { delay: '1s' } }"
          svgIcon="ki-elicit"
          i18n-aria-label
          aria-label="Elicit Ideas"
        ></mat-icon>
        <mat-icon
          [@bounceIn]="{ value: '*', params: { delay: '1250ms' } }"
          svgIcon="ki-add"
          i18n-aria-label
          aria-label="Add Ideas"
        ></mat-icon>
        <mat-icon
          [@rotateIn]="{ value: '*', params: { delay: '1500ms' } }"
          svgIcon="ki-distinguish"
          i18n-aria-label
          aria-label="Distinguish Ideas"
        ></mat-icon>
        <mat-icon
          [@flipInY]="{ value: '*', params: { delay: '2s' } }"
          svgIcon="ki-connect"
          i18n-aria-label
          aria-label="Connect Ideas and Reflect"
        ></mat-icon>
      </div>
    </ng-template>
    <ng-template #taglineTemplate>
      <div [@flipInX]="{ value: '*', params: { delay: '2750ms' } }" i18n>
        Integrated science learning and teaching with technology
      </div>
    </ng-template>
    <ng-template #sideTemplate *ngIf="isDiscourseNewsAvailable">
      <discourse-latest-news
        [@bounceIn]="{ value: '*', params: { duration: '1.25s', delay: '3500ms' } }"
        [baseUrl]="discourseUrl"
        [category]="discourseNewsCategory"
        queryString="order=latest"
      >
      </discourse-latest-news>
    </ng-template>
  </app-hero-section>
</div>
