<div class="main main--fullwidth home">
  <app-hero-section
    [imgSrc]="hero.imgSrc"
    [imgSources]="hero.imgSources"
    [imgDescription]="hero.imgDescription"
  >
    <ng-template #headlineTemplate>
      <div class="accent-2" fxLayoutGap="8px" fxLayoutGap.gt-xs="16px">
        <mat-icon
          [@jackInTheBox]="{ value: '*', params: { delay: '1s' } }"
          svgIcon="eco"
          i18n-aria-label
          aria-label="Environment"
        ></mat-icon>
        <mat-icon
          [@bounceIn]="{ value: '*', params: { delay: '1500ms' } }"
          svgIcon="tech"
          i18n-aria-label
          aria-label="Technology"
        ></mat-icon>
        <mat-icon
          [@rotateIn]="{ value: '*', params: { delay: '2s' } }"
          svgIcon="group"
          i18n-aria-label
          aria-label="Community"
        ></mat-icon>
        <mat-icon
          [@flipInY]="{ value: '*', params: { delay: '2500ms' } }"
          svgIcon="share"
          i18n-aria-label
          aria-label="Collaboration"
        ></mat-icon>
      </div>
    </ng-template>
    <ng-template #taglineTemplate>
      <div [@flipInX]="{ value: '*', params: { delay: '2750ms' } }" i18n>
        Designing active learning curricula for learning communities
      </div>
    </ng-template>
    <ng-template #sideTemplate *ngIf="isDiscourseNewsAvailable">
      <discourse-latest-news
        [@bounceIn]="{ value: '*', params: { duration: '1.25s', delay: '3500ms' } }"
        [baseUrl]="discourseUrl"
        [category]="discourseNewsCategory"
        queryString="order=latest"
      >
      </discourse-latest-news>
    </ng-template>
  </app-hero-section>
</div>
